<div class="background" fxLayout="column">
      <mat-card
        fxFlex="1"
        class="card-description"
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
      >
          <div >
            ThéTipTop, votre expert en thés de luxe, vous invite à explorer nos
            sélections de thés exceptionnels, qui marient des saveurs uniques à une
            qualité inégalée. Nous sommes fiers de vous offrir nos créations
            originales, des thés détox, des thés blancs, des infusions, et bien
            d'autres encore. Tous nos thés sont produits de manière biologique, avec
            une attention méticuleuse et une passion indéfectible.
            <h1>
              Inscrivez-vous et recevrez un cadeau d'une valeur de 360
            </h1>

          </div>
          <div class="button-container">
            <button mat-raised-button class="signIn-button" (click)="signIn()">
              <h1>INSCRIVEZ-VOUS</h1>
            </button>
          </div>
      </mat-card>

</div>
