/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%;     font-family: cursive ;
}
body { margin: 0; 
    background-image: url('assets/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
