
<div class="mat-elevation-z8" style="height: 100vh;" >
  <button mat-icon-button (click)="goBack()">
    <mat-icon>keyboard_return</mat-icon>
  </button>
  <mat-toolbar>
    Choisir le gagnant du 360 EURO et fermer le jeux-concours
    <button mat-stroked-button [disabled]="disabled" class="close" (click)="close()">Fermer le jeux-concours</button>
  </mat-toolbar>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let person"> {{person.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let person"> {{person.email}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Etat du cadeau</th>
      <td mat-cell *matCellDef="let person"> {{person.status}} </td>
    </ng-container>

    <ng-container matColumnDef="prize">
      <th mat-header-cell *matHeaderCellDef> Lot cadeau </th>
      <td mat-cell *matCellDef="let person"> lot de 360 euros </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let person">
        <button mat-stroked-button class="sendMail" (click)="sendMail(person)">envoyer un mail</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>